@font-face {
    font-family: 'SkyPro';
    font-weight: 400;
    src: url('../font/stratosskyengweb-regular.woff') format('woff'),
        url('../font/stratosskyengweb-regular.woff2') format('woff2');
}
