@import 'font';
@import '../node_modules/tonyabayonetta/lib/templates/custom_alert/custom_alert.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: SkyPro;
    font-size: 16px;
}

button,
input {
    border: 0;
    outline: none;
}

:root {
    --blue: #004980;
    --blue-light: #c2f5ff;
    --green-happy: #7ac100;
    --green-happy-hover: #629b00;
}

.app {
    width: 100vw;
    height: 100vh;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

.complexity {
    width: 480px;
    height: 459px;
    background-color: var(--blue-light);
    border-radius: 0.75rem;
    padding: 52px 69px 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-title {
        font-size: 2.5rem;
        color: var(--blue);
        text-align: center;
    }
    &-levels {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 48px;
        margin-bottom: 67px;
        gap: 1.5rem;
        &__item {
            position: relative;
            width: 98px;
            height: 98px;
            background: #fff;
            border-radius: 0.75rem;
            cursor: pointer;
            color: #0080c1;
            font-size: 4rem;
            transition: 0.1s linear transform, 0.1s linear background;
            &:hover {
                transform: scale(1.05);
            }
            &:active {
                transform: scale(0.95);
            }
            &.active {
                background-color: #0080c1;
                color: #fff;
            }
        }
    }
    &-btn {
        cursor: pointer;
        width: 246px;
        height: 50px;
        background: var(--green-happy);
        color: #fff;
        font-size: 1.5rem;
        line-height: 2rem;
        border-radius: 0.75rem;
        transition: 0.1s linear background;
        &:hover {
            background-color: var(--green-happy-hover);
        }
    }
}

.game {
    width: 100vw;
    height: 100vh;
    padding: 22px 22px 23px 49px;
    &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-timer {
        max-width: 155px;
        &_nav {
            display: flex;
        }
        &_min,
        &_sec {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            & span {
                font-weight: 400;
                font-size: 1rem;
                color: #fff;
            }
            & span:first-child {
                padding-right: 5px;
            }
        }
        #min,
        #sec {
            font-weight: 400;
            font-size: 4rem;
        }
    }
    &-btn {
        background: var(--green-happy);
        border-radius: 12px;
        cursor: pointer;
        width: 246px;
        height: 50px;
        color: #fff;
        font-weight: 400;
        font-size: 1.5rem;
        transition: 0.1s linear background;
        &:hover {
            background: var(--green-happy-hover);
        }
    }
    &-wrapper {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(100% - 100px); // Костыль!
    }
    &-field {
        width: fit-content;
        height: fit-content;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        row-gap: 15px;
        column-gap: 15px;
    }
    &-card {
        position: relative;
        grid-column: span 1;
        top: 0;
        left: 0;
        width: 95px;
        height: 133px;
        border-radius: 10px;
        transform-style: preserve-3d;
        transition: 0.5s ease-in-out;
        cursor: pointer;
        &_s,
        &_f {
            position: absolute;
            pointer-events: none;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            backface-visibility: hidden;
            transition: 0.5s ease-in-out;
        }
        &_f {
            transform: rotateY(0.5turn);
        }
    }
}

// any

.flip-scale-up-hor {
    transform: rotateY(0.5turn);
}

.flip-scale-down-hor {
    transform: rotateY(0.5turn);
}
